/*Texts*/
h1 {
    text-align: center;
    padding-top: 50px;
}

h2{
	text-align: center;
	padding-top: 200px;
}

/*Charts*/
#donut_chart {
	display:grid;
	top:20px;
	padding-bottom: 200px; 
	left: 1300px;
}

#choropleth_map {
	display:grid;
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

#bar_chart {
	display:grid;
	top:100px;
	bottom: 100px; 
	left: 900px;
	right: 100px;
}

#line_chart{
	display:grid;
	top:60px;
	padding-bottom: 50px; 
	left: 100px;
}