/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');
/*Background*/

body{
	background-color: #F0F0F0;
}

#row2{
	display: flex;
	width: fit-content;
}

#img_row{
	display: flex;
	width: 100%;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#row4{
	display: flex;
	padding: 20px;
}

#row6{
	display: flex;
	padding: 20px;
}

#row8{
	display: flexbox;
	background-color: #bbb;
	border-radius: 50px;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	height:fit-content;
	padding:10px;

}

.column{
	flex: 50%;
	padding: 10px;
	width:fit-content;
	border-radius:50px;

}

#col2{
	display: flexbox;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width:fit-content;
	color:#FFFFFF;
}

#bar_col{
	display: flexbox;
	width:fit-content;
	align-content: center;
}

#col3{
	display: flexbox;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width:fit-content;
	color:#FFFFFF
}

#col4{
	display: flexbox;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color:#FFFFFF;
	font-size: 20px;
}

/*Texts*/
h1 {
    text-align: center;
    padding-top: 50px;
	font-family: 'Playfair Display', serif;
	padding-bottom:40px;
	font-weight: bold;
	font-size:65px;
}

h2{
	color:#FFFFFF;
	background-color: #FFB2B2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	padding:50px;
	box-shadow: 10px 10px lightgray;
	width: 80%;
	margin-left:7%;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	color:#FFFFFF;
}

#el1{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	color: #FFFFFF ;
	text-decoration: underline;
	font-size: 18px;
}

#el2{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	color: navy ;
	font-size: 16px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color:maroon;
	font-weight: bold;
}
h4{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color:#FFFFFF;
	font-weight: bold;
}


/*Charts*/
#donut_chart {
	display:grid;
	top:50px;
	padding-bottom: 100px; 
	justify-content: center;
}

#choropleth_map {
	display:grid;
	top:30px;
	bottom: 100px; 
	left: 40px;
	right: 100px;
	margin-bottom:50px;
}

#bar_chart {
	display:grid;
	top:30px;
	padding-bottom: 50px; 

}

#line_chart{
	display:grid;
	top:60px;
	padding-bottom: 50px; 
	left: 2px;
}